<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <main>
    <h1>Create Account</h1>

    <form action="signup" method="post" enctype="multipart/form-data">

      <div class="input__container">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="input__container">
        <label for="uname">Create username:</label>
        <input type="text" name="uname" id="uname">
      </div>
      <div class="input__container">
        <label for="pwd">Create password:</label>
        <input type="password" name="pwd" id="pwd">
      </div>
        <div class="input__container">
          <label for="pic" id="piclabel">Upload profile pic</label>
          <input type="file" name="profile_pic" id="pic">
        </div>
      <div class="input__container">
        <input type="submit" value="Submit">
      </div>
    </form>
  </main>
</body>

<script>
  let fileInput = document.querySelector('#pic');
  fileInput.addEventListener('change',()=>{
    let filename = fileInput.value.split("\\").pop()
    
    document.querySelector("#piclabel").innerHTML = filename;
  })
</script>

</html>