<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <main>

    <form action="signup" method="post" enctype="multipart/form-data">

      <div class="input__container">
        <label for="email">Enter your email:</label>
        <input type="email" name="email" id="email">
      </div>
      <div class="input__container">
        <label for="uname">Create username:</label>
        <input type="text" name="uname" id="uname">
      </div>
      <div class="input__container">
        <label for="pwd">Create password:</label>
        <input type="password" name="pwd" id="pwd">
      </div>
        <div class="input__container">
          <label for="pic">Upload profile picture</label>
          <input type="file" name="profile_pic" id="pic">
        </div>
      <div class="input__container">
        <input type="submit" value="Submit">
      </div>
    </form>
  </main>
</body>

</html>