<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    
   <main>
    <h1>Log in</h1>
    <form action="login_post" method="post">
        <div class="input__container">
            <label for="uname">Create username:</label>
            <input type="text" name="username" id="uname">
        </div>
        <div class="input__container">
            <label for="pwd">Create password:</label>
            <input type="password" name="pwd" id="pwd">
        </div>
    
        <div class="input__container">
            <input type="submit" value="Log In">
        </div>
    </form>
   </main>
</body>
</html>