*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
}

.input__container{
  display: flex;
  flex-direction: column;
  padding: 5px ;
  width: 100%;
}

.input__container input{
  padding: 20px;
  width: 100%;
}

input[type='file']{
  display: none;
}

label[for='pic']{
  color: black;
  text-align: center;
  background: lightgray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

input[type='submit']{
  cursor: pointer;
}

image{
  width: 100px;
  border-radius: 50%;
}